

.card-container {
    width: 500px;
    margin: 0 auto;
}

.ant-card-head-title {
    font-size: 2em;
}

span {
    font-weight: bold;
}

p {
    font-size: 1.2em;
}

.img-user {
    width: 200px;
    margin: 0 120px;
    padding: 2px;
}